<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{name}}">
  <ion-content class="padding">

    <map center="{{lat}}, {{long}}" zoom="16" zoom-control="false">
        <marker position="{{lat}}, {{long}}" title="Hello World!"></marker>
    </map>
    <!-- <p>
      Latitud - {{lat}}
    </p>
    <p>
      Longitud - {{long}}
    </p> -->
  </ion-content>
</ion-view>
